@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

/* Hide the spinners for Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinners for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background: #888; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  background-size: cover;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}
