
.display-currentOrder-container{
  background-color: #acb7c1;
  display: grid;
  grid-template-rows:auto 1fr auto;
 
}
.display-currentOrder-container .filter {
    /* height: 10px; */
    background-color: black;
    padding: 5px;
    text-align: center;
    color: yellow;
    font-size: 1.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .display-currentOrder-container .filter input {
    padding: 5px;
    color: black;
    width: 50%;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 1.3vw;
  }
  
  
  /* End of Display products price qty price etc. */
  
  /* Row of total item and total amount of products */
  .display-currentOrder-container .total {
    display: flex;
    font-size: 2vw;
    font-family: 900;
  }
 
  .display-currentOrder-container .total-item,
  .total-price {
    background-color: #fff9d0;
    padding: 10px;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .display-currentOrder-container .total-item{
    width: 25%;
  }
  .display-currentOrder-container .total-price{
    width: 40%;
  }
  .display-currentOrder-container .total span {
    font-size: 20px;
    font-weight: 600;
  }
  
  .display-currentOrder-container .total .print {
    /* border: 1px solid black !important; */
    width: 35%;
  }
  
  .display-currentOrder-container .total .print button {
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 0px;
    box-shadow: none;
    background: #00af00;
    color: white;
    font-size: 2vw;
    font-weight: 600;
    border: 1px solid;
  }

  .display-currentOrder-container .total .print button:disabled {
   background: #555555;
  }